.row
    margin: 0
//  === IMAGEN PORTADA ===
.imagen-portada
    // La imagen que se usa
    background-image: url("../img/fondo.jpg")
    // La altura de la imagen
    height: 50vh
    width: 100%
    // Los ajustes para crear el efecto de scroll
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover

//  — Linea Vertical que acompaña al titulo — 
.linea-vertical
    height: 100px
    width: 50%
    border-right: 1.5px solid $color-gris


// === TITULO === 
.titulo
    font-family: 'titulo'
    font-size: 4rem
    // Espacio entre las letras
    letter-spacing: 10px
    color: $color-gris
    text-align: center

//  === SUBTITULO === 
.subtitulo
    font-family: 'titulo'
    font-size: 2.75rem
    color: $color-negro
    text-align: center
    letter-spacing: 2px
    margin-bottom: 2rem

//  === TEXTO ===
.texto
    font-family: 'principal'
    font-size: 1rem
    color: $color-gris
    line-height: 1.8rem
    text-align: justify