@import url(vendor/bootstrap/bootstrap.css);
@font-face {
  font-family: 'titulo';
  src: url(../fonts/OstrichSans-Medium.woff2); }

@font-face {
  font-family: 'principal';
  src: url(../fonts/Roboto-Light.woff2); }

@font-face {
  font-family: 'negrita';
  src: url(../fonts/Roboto-Regular.woff2); }

.row {
  margin: 0; }

.imagen-portada {
  background-image: url("../img/fondo.jpg");
  height: 50vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.linea-vertical {
  height: 100px;
  width: 50%;
  border-right: 1.5px solid #4D4D4D; }

.titulo {
  font-family: 'titulo';
  font-size: 4rem;
  letter-spacing: 10px;
  color: #4D4D4D;
  text-align: center; }

.subtitulo {
  font-family: 'titulo';
  font-size: 2.75rem;
  color: #000000;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2rem; }

.texto {
  font-family: 'principal';
  font-size: 1rem;
  color: #4D4D4D;
  line-height: 1.8rem;
  text-align: justify; }

header.header .navbar .navbar-brand img {
  width: 250px; }

header.header .navbar .navbar-collapse .navbar-nav {
  display: block; }
  header.header .navbar .navbar-collapse .navbar-nav .nav_arriba, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'titulo';
    font-size: 2rem; }
    header.header .navbar .navbar-collapse .navbar-nav .nav_arriba .nav-item, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo .nav-item {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      header.header .navbar .navbar-collapse .navbar-nav .nav_arriba .nav-item a.nav-link, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo .nav-item a.nav-link {
        padding: 0 1.5rem;
        color: #000000; }
      header.header .navbar .navbar-collapse .navbar-nav .nav_arriba .nav-item:hover .linea_nav, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo .nav-item:hover .linea_nav {
        width: 80%;
        -webkit-transition: .5s all;
        -o-transition: .5s all;
        transition: .5s all; }
      header.header .navbar .navbar-collapse .navbar-nav .nav_arriba .nav-item .linea_nav, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo .nav-item .linea_nav {
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #F8D859; }

footer.footer {
  background-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  font-family: 'principal'; }
  footer.footer .container {
    padding: 3rem 0 2.6rem 0; }
    footer.footer .container .redes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 1rem; }
      footer.footer .container .redes a {
        padding: 0 .5rem; }
        footer.footer .container .redes a img {
          width: 30px; }
    footer.footer .container p {
      padding: 0.4rem 0;
      margin: 0; }

.page--servicios section.servicios .row {
  max-width: 85%;
  margin: 0 auto; }
  .page--servicios section.servicios .row .servicios-columna {
    padding: 1rem; }
    .page--servicios section.servicios .row .servicios-columna .columna-icono {
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
      height: 6rem;
      width: auto; }

.page--servicios section.benasau .texto-introduccion {
  font-size: 1.2rem;
  text-align: center;
  max-width: 70%;
  margin: 2rem auto; }

.page--servicios section.benasau .row {
  max-width: 85%;
  margin: 0 auto; }
