@import url(vendor/bootstrap/bootstrap.css);
@font-face {
  font-family: 'titulo';
  src: url(../fonts/OstrichSans-Medium.woff2); }

@font-face {
  font-family: 'principal';
  src: url(../fonts/Roboto-Light.woff2); }

@font-face {
  font-family: 'negrita';
  src: url(../fonts/Roboto-Regular.woff2); }

.row {
  margin: 0; }

.imagen-portada {
  background-image: url("../img/fondo.jpg");
  height: 60vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.linea-vertical {
  height: 100px;
  width: 50%;
  border-right: 1.5px solid #4D4D4D; }

.titulo {
  font-family: 'titulo';
  font-size: 4rem;
  letter-spacing: 10px;
  color: #000000;
  text-align: center; }

.subtitulo {
  font-family: 'titulo';
  font-size: 2.75rem;
  color: #000000;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2rem; }

.sub-subtitulo {
  font-family: 'titulo';
  font-size: 2.4rem;
  color: #000000;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2rem; }

.texto {
  font-family: 'principal';
  font-size: 1rem;
  color: #4D4D4D;
  line-height: 1.8rem;
  text-align: justify; }

header.header .navbar .navbar-brand img {
  width: 250px; }

header.header .navbar .navbar-collapse .navbar-nav {
  display: block; }
  header.header .navbar .navbar-collapse .navbar-nav .nav_arriba, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'titulo';
    font-size: 2rem; }
    header.header .navbar .navbar-collapse .navbar-nav .nav_arriba .nav-item, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo .nav-item {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      header.header .navbar .navbar-collapse .navbar-nav .nav_arriba .nav-item a.nav-link, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo .nav-item a.nav-link {
        padding: 0 1.5rem;
        color: #000000; }
      header.header .navbar .navbar-collapse .navbar-nav .nav_arriba .nav-item:hover .linea_nav, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo .nav-item:hover .linea_nav {
        width: 80%;
        -webkit-transition: .5s all;
        -o-transition: .5s all;
        transition: .5s all; }
      header.header .navbar .navbar-collapse .navbar-nav .nav_arriba .nav-item .linea_nav, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo .nav-item .linea_nav {
        position: absolute;
        left: 10%;
        width: 0%;
        height: 2px;
        background-color: #F8D859; }
      header.header .navbar .navbar-collapse .navbar-nav .nav_arriba .nav-item .active, header.header .navbar .navbar-collapse .navbar-nav .nav_abajo .nav-item .active {
        width: 80%; }

footer.footer {
  background-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  font-family: 'principal'; }
  footer.footer .container {
    padding: 3rem 0 2.6rem 0; }
    footer.footer .container .redes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 1rem; }
      footer.footer .container .redes a {
        padding: 0 .5rem; }
        footer.footer .container .redes a img {
          width: 30px; }
    footer.footer .container p {
      padding: 0.4rem 0;
      margin: 0; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@keyframes zoom {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

main.page--principal section.imagen-inicio {
  height: calc(100vh - 112px);
  position: relative;
  background-image: url(../img/principal/imagen-principal.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  main.page--principal section.imagen-inicio .icono {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem; }
    main.page--principal section.imagen-inicio .icono a {
      color: #ffffff; }

main.page--principal section.servicios {
  margin-bottom: 3rem; }
  main.page--principal section.servicios .servicios-principal {
    max-width: 85%;
    margin: 2rem auto; }
    main.page--principal section.servicios .servicios-principal .servicios-columna {
      margin: 0 auto;
      max-width: 35%;
      padding: 1rem; }
      main.page--principal section.servicios .servicios-principal .servicios-columna .columna-icono {
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 9rem;
        width: auto; }
      main.page--principal section.servicios .servicios-principal .servicios-columna .texto {
        text-align: center; }
  main.page--principal section.servicios .imagen_iconos-aventura {
    margin: 0 auto;
    max-width: 470px; }

main.page--principal section.imagen-medio {
  height: 500px;
  overflow: hidden; }
  main.page--principal section.imagen-medio .imagen {
    height: 100%;
    background-image: url(../img/principal/imagen-medio.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-animation-name: zoom;
    animation-name: zoom;
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; }

main.page--principal section.galeria .galeria-principal {
  margin-top: 2rem; }
  main.page--principal section.galeria .galeria-principal .galeria-col {
    max-width: calc(100% / 3);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  main.page--principal section.galeria .galeria-principal .col-izq {
    background-image: url(../img/principal/imagen-galeria-izq.jpg); }
  main.page--principal section.galeria .galeria-principal .col-centro {
    background-image: url(../img/principal/imagen-galeria-centro.jpg); }
  main.page--principal section.galeria .galeria-principal .col-drcha {
    background-image: url(../img/principal/imagen-galeria-drcha.jpg); }

main.page--principal section.contacto .contacto_mapa {
  margin-top: 2rem;
  width: 100%;
  height: 450px; }
  main.page--principal section.contacto .contacto_mapa .mapa_direccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    background-color: #F8D859; }
    main.page--principal section.contacto .contacto_mapa .mapa_direccion h3 {
      margin: 0;
      color: #ffffff; }
    main.page--principal section.contacto .contacto_mapa .mapa_direccion p {
      margin: 0;
      color: #ffffff; }

.page--servicios section.servicios .row {
  max-width: 85%;
  margin: 0 auto; }
  .page--servicios section.servicios .row .servicios-columna {
    padding: 1rem; }
    .page--servicios section.servicios .row .servicios-columna .columna-icono {
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
      height: 6rem;
      width: auto; }

.page--servicios section.benasau .texto-introduccion {
  font-size: 1.2rem;
  text-align: center;
  max-width: 70%;
  margin: 2rem auto; }

.page--servicios section.benasau .row {
  max-width: 85%;
  margin: 3rem auto; }
  .page--servicios section.benasau .row .icono {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 6rem; }

.page--nosotros .nosotros-informacion {
  margin-top: 2rem; }
  .page--nosotros .nosotros-informacion .imagen {
    padding: 0; }

.page--nosotros .nosotros-benasau .benasau-info {
  margin: 2rem 0; }
  .page--nosotros .nosotros-benasau .benasau-info .subtitulo {
    text-align: left;
    margin-bottom: 0; }

main.page--tarifas section.tarifas .texto {
  text-align: center;
  max-width: 900px;
  margin: 0 auto; }

main.page--tarifas section.tarifas .tarifas_precios {
  margin: 2rem 0; }
  main.page--tarifas section.tarifas .tarifas_precios .precios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  main.page--tarifas section.tarifas .tarifas_precios .precios_alojamiento {
    max-width: 1000px;
    margin: 1rem auto; }
  main.page--tarifas section.tarifas .tarifas_precios .precios_complementos {
    max-width: 720px;
    margin: 1rem auto; }
  main.page--tarifas section.tarifas .tarifas_precios .precios_comida {
    max-width: 440px;
    margin: 1rem auto; }
    main.page--tarifas section.tarifas .tarifas_precios .precios_comida img {
      width: 100px; }

main.page--galeria section.galeria .sub-subtitulo {
  margin: 2rem 0;
  letter-spacing: 10px; }

main.page--galeria section.galeria .galeria-multiaventura {
  margin-top: 2rem; }
  main.page--galeria section.galeria .galeria-multiaventura .galeria-col {
    margin-bottom: 2rem;
    max-width: calc(100% / 3);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  main.page--galeria section.galeria .galeria-multiaventura .col-izq {
    background-image: url(../img/galeria/multiaventura-izq.jpg); }
  main.page--galeria section.galeria .galeria-multiaventura .col-drcha {
    background-image: url(../img/galeria/multiaventura-drcha.jpg); }

main.page--galeria section.galeria .galeria-instalaciones {
  margin-top: 2rem; }
  main.page--galeria section.galeria .galeria-instalaciones .galeria-col {
    margin-bottom: 2rem;
    max-width: calc(100% / 3);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  main.page--galeria section.galeria .galeria-instalaciones .col-izq {
    background-image: url(../img/galeria/instalaciones-izq.jpg); }
  main.page--galeria section.galeria .galeria-instalaciones .col-centro {
    background-image: url(../img/galeria/instalaciones-centro.jpg); }
  main.page--galeria section.galeria .galeria-instalaciones .col-drcha {
    background-image: url(../img/galeria/instalaciones-drcha.jpg); }

main.page--galeria section.galeria .galeria-alrededor {
  margin-top: 2rem; }
  main.page--galeria section.galeria .galeria-alrededor .galeria-col {
    margin-bottom: 2rem;
    max-width: calc(100% / 3);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  main.page--galeria section.galeria .galeria-alrededor .col-izq {
    background-image: url(../img/galeria/alrededor-izq.jpg); }
  main.page--galeria section.galeria .galeria-alrededor .col-centro {
    background-image: url(../img/galeria/alrededor-centro.jpg); }
  main.page--galeria section.galeria .galeria-alrededor .col-drcha {
    background-image: url(../img/galeria/alrededor-drcha.jpg); }
