main.page--galeria
    section.galeria
        .sub-subtitulo
            margin: 2rem 0
            letter-spacing: 10px
        // Multiaventura
        .galeria-multiaventura
            margin-top: 2rem
            .galeria-col
                margin-bottom: 2rem
                max-width: calc(100% / 3)
                height: 300px
                background-size: cover
                background-repeat: no-repeat
                background-position: center center
            .col-izq
                background-image: url(../img/galeria/multiaventura-izq.jpg)
            .col-drcha
                background-image: url(../img/galeria/multiaventura-drcha.jpg)
        
        // Instalaciones
        .galeria-instalaciones
            margin-top: 2rem
            .galeria-col
                margin-bottom: 2rem
                max-width: calc(100% / 3)
                height: 300px
                background-size: cover
                background-repeat: no-repeat
                background-position: center center
            .col-izq
                background-image: url(../img/galeria/instalaciones-izq.jpg)
            .col-centro
                background-image: url(../img/galeria/instalaciones-centro.jpg)
            .col-drcha
                background-image: url(../img/galeria/instalaciones-drcha.jpg)
        
        // Alrededor
        .galeria-alrededor
            margin-top: 2rem
            .galeria-col
                margin-bottom: 2rem
                max-width: calc(100% / 3)
                height: 300px
                background-size: cover
                background-repeat: no-repeat
                background-position: center center
            .col-izq
                background-image: url(../img/galeria/alrededor-izq.jpg)
            .col-centro
                background-image: url(../img/galeria/alrededor-centro.jpg)
            .col-drcha
                background-image: url(../img/galeria/alrededor-drcha.jpg)